*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* heading */
h1,
h2,
h3 {
  font: normal normal 100 14px "Karla", sans-serif;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 0.6em;
  bottom: 0;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 160%;
}

a {
  text-decoration: none;
}

p {
  font: normal normal 400 14px "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #515151;
}

/* Slider */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* Slider */


